
/* General layout */
body {
  font-family: 'Open Sans', sans-serif;
  color: #1B1B1E;
}

* {
  border-radius: 0 !important;
}

/* Navigation */

.sidebar-brand-text {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  text-align: center;
  color: #90a6c7;
}

.side-bar {
  background-color: #51126e;
  min-width: 200px;
}

/* Headings */

h1, h2 {
  font-family: 'Oswald', sans-serif;
  color: #FBFFFE;
  text-align: center;
}

.headingBar {
  background-color: #300963;
}

/* Buttons */

.btn-dark {
  background-color: #323238;
  color: #e5e5ec;
}

/* Media Query */
@media only screen and (max-width:1000px) {
  .frame {
    flex-direction: column;
  }
}